<blockquote>
	Rollin down the street, <i class="gnj"></i><i class="gnj"></i><i class="gnj"></i><br>
	smokin indo, sippin on gin and juice
</blockquote>
<ol>
	<li>
		<h3><a href="#/summaryArticle/0">#{yo= articles.articles[0].title }</a></h3>
	</li>
	<li>
		<h3><a href="#/summaryArticle/1">#{yo= articles.articles[1].title }</a></h3>
	</li>
	<li>
		<h3><a href="#/summaryArticle/2">#{yo= articles.articles[2].title }</a></h3>
	</li>
	<li>
		<h3><a href="#/summaryArticle/3">#{yo= articles.articles[3].title }</a></h3>
	</li>
	<li>
		<h3><a href="#/summaryArticle/4">#{yo= articles.articles[4].title }</a></h3>
	</li>
	<li>
		<h3><a href="#/summaryArticle/5">#{yo= articles.articles[5].title }</a></h3>
	</li>
	<li>
		<h3><a href="#/summaryArticle/6">#{yo= articles.articles[6].title }</a></h3>
	</li>
	<li>
		<h3><a href="#/summaryArticle/7">#{yo= articles.articles[7].title }</a></h3>
	</li>
	<li>
		<h3><a href="#/summaryArticle/8">#{yo= articles.articles[8].title }</a></h3>
	</li>
	<li>
		<h3><a href="#/summaryArticle/9">#{yo= articles.articles[9].title }</a></h3>
	</li>
</ol>