body {
	padding: 50px;
	font: 14px "Trebuchet MS", Helvetica, sans-serif;
}

a {
  color: #fbc02d;
  text-decoration: none;
}

.logo:before, blockquote:before{
	content: "\f000";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	color: #fbc02d;
}

blockquote:before{
  position: absolute;
  margin: 3px -30px;
  font-size: 24px;
}