<h3>A web framework</h3>
<p>A webframe work</p> 

<h4>What is it?</h4>
<p>
	<strong>Gin: </strong>The router and controller, routes are declared like this: <br>
	<pre>route(&#39;/path&#39;, &#39;template name&#39;, function() { <br> this.yourVar = &#39;Variable to be interpolated into template&#39;; <br>});
	</pre>
</p>
<p>
	<strong>Juice: </strong>The templater that takes your template and interpolates js using the dank syntax: <br>
	<pre> &#35;{yo= yourVar } </pre>
</p>
<hr>
<blockquote>
	#{yo= snoopDogg}
</blockquote>